html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 100%;
    line-height: normal;
    color: $black;
    background: $white;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    transition: all 0.6s ease;

    @include tablet-992 {
        padding: 0 25px;
    }

    @include laptopM-1440 {
        padding: 0 35px;
    }

    @include laptopM-1880 {
        width: 1800px;
    }
}

.visually-hidden {
    @include visually-hidden;
}

.list-reset {
    margin: 0;
    @include list-reset;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}
