$black: #000;
$white: #fff;
$light-white: rgba(255, 255, 255, 0.2);
$light-black: rgba(0, 0, 0, 0.5);
$cadetblue: #2d7f98;
$red: #ac1b0f;
$yellow: #ffae20;
$skyblue: #bccbdd;

$box-border-yellow: 0 0 0 1px $yellow;
$box-border-skyblue: 0 0 0 1px $skyblue;

$radius-04: 4px;
$transition-06: all 0.6s;
