@include mobile-425 {
  .search__input {
    width: 70%;
    padding: 10px 15px;
  }

  .search__btn {
    width: 28%;
    padding: 10px 15px;
  }

  .btn--font {
    @include font();
  }

  .cards {
    grid-auto-rows: 50vw;
  }
}

@include mobile-567 {
  .cards {
    grid-auto-rows: 50vw;
    grid-template-columns: repeat(2, 1fr);
  }
}

@include tablet-768 {
  .search__input {
    width: 60%;
    margin-bottom: 0;
  }

  .sidebar .tags {
    flex-wrap: wrap;
  }

  .text {
    @include font($size: 16px);
  }

  .arrows {
    width: 50%;
  }

  .sidebar {
    width: 50%;
    height: 100%;
    padding: 100px 20px 50px 40px;
  }

  .modal {
    z-index: 10;
    position: fixed;
    top: 3%;
    bottom: 3%;
    padding: 2% 12%;
  }

  .modal__img {
    height: 80%;
  }
  // .btn--close-modal {
  //   top: 4%;
  //   right: 4%;
  //   transform: translate(70%, -65%);
  // }
}

@include tablet-992 {
  .app__title {
    margin-bottom: 90px;
  }

  .title--first {
    font-size: 2.5em;
    @include font($weight: 500, $size: 2.5em);
  }

  .search__input {
    padding: 15px;
  }

  .search__btn {
    width: 20%;
    padding: 16px;
  }

  .cards {
    grid-auto-rows: 30vw;
    grid-template-columns: repeat(3, 1fr);
  }

  .pagination__page {
    margin-right: 20px;
  }

  .arrows {
    width: 30%;
  }

  .sidebar {
    width: 30%;
  }

  .btn__open-sort {
    top: 140px;
  }
}

@include laptopM-1440 {
  .search__input {
    width: 40%;
  }

  .search__btn {
    width: 16%;
  }

  .cards {
    margin-bottom: 100px;
    grid-auto-rows: 25vw;
    grid-template-columns: repeat(4, 1fr);
  }
}
