.main {
  padding: 50px 0 150px;
}

.title {
  padding: 0;
  margin: 0;

  &--first {
    text-align: center;

    @include font($weight: 500, $size: 2em);
  }

  &--second {
    @include font($size: 14px);
  }

  &--third {
    @include font($weight: 500, $size: 20px);
  }

  &--yellow {
    color: $yellow;
  }
}

p {
  padding: 0;
  margin: 0;
}

.text {
  @include font($size: 14px);
  transition: $transition-06;

  &--black {
    color: $black;
  }

  &--space {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.input {
  border: none;
  outline: none;
  transition: $transition-06;

  &--yellow {
    border-radius: $radius-04;
    box-shadow: 0 0 0 1px $yellow;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px $skyblue;
    }
  }

  &--font {
    @include font();
  }
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: $radius-04;
  background-color: transparent;
  transition: $transition-06;

  &--yellow {
    color: $black;
    background-color: $yellow;

    &:hover,
    &:focus {
      color: $white;
      background-color: $skyblue;
    }
  }

  &--white-h {
    &:hover,
    &:focus {
      color: $white;
      background: $skyblue;
    }
  }

  &--border-yellow-h {
    padding: 5px 8px;
    &:hover {
      box-shadow: $box-border-yellow;
    }
  }

  &--font {
    @include font($size: 16px);
  }
}
