.app {
  position: relative;
  &__title {
    margin-bottom: 50px;
  }

  &__search {
    margin-bottom: 50px;
  }
}

.search {
  text-align: center;
}

.search__input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
}

.search__btn {
  width: 100%;
  padding: 15px;
}

.cards {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 100vw;
  grid-gap: 25px;
  margin-bottom: 70px;
}

.card {
  cursor: zoom-in;
  overflow: hidden;
  background: $cadetblue;
  border-radius: $radius-04;
  transition: $transition-06;
  @include box-shadow($color: hsla(0, 0%, 0%, 0.3));

  &:hover {
    @include box-shadow($blur: 10px, $color: hsla(0, 0%, 0%, 0.6));

    .card__img {
      transform: scale(1.02);
    }
    .info {
      opacity: 1;
      visibility: visible;
      transition: $transition-06;
    }
  }
}

.card__img {
  transition: $transition-06;
}

.card__content {
  margin: 0;
  height: 100%;
  position: relative;
}

.card__info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  transition: $transition-06;
}

.info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: none;

  color: $white;
  @include bg-overlay-gradient();

  &__header {
    margin-bottom: 8px;
  }
}

.info__header {
  pointer-events: all;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rating {
  display: flex;
  align-items: center;

  &__like {
    width: 35px;
    height: 35px;
    margin-right: 2px;
    transition: $transition-06;
    background: url(./img/fluent_heart-48-regular.png) no-repeat center;

    &:hover {
      background: url(./img/fluent_heart-20-filled.png) no-repeat center;
    }
  }

  &__result {
    @include font();
  }
}

.date {
  display: flex;
  align-items: center;
  @include font();
}

.info__body {
  flex: 1 1 auto;
}

.author {
  @include font($size: 16px);

  &__name {
    @include font();
  }
}

.btn__open-sort {
  position: absolute;
  top: -50px;
  right: 0;
}

.tags {
  pointer-events: all;
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  @include list-reset;
}

.tag {
  flex: 0 1 auto;
  padding: 5px;
}
